<div class="container-fluid">
    <center><h1 class="text-info">You've reached the end of the internet</h1></center>
    <br />
    <center><img src="https://cdn.svgator.com/images/2022/01/creative-404-page-example.gif" /></center>
    <br />
    <center><a class="btn btn-info" asp-action="Index">Back to Main Page</a></center>
</div>

