<div class="container-fluid">
    <center><h1 class="text-warning">Under Construction</h1></center>
    <br />

    <div class="container terms-and-conditions">
        <div class="card-body">
            <center>
                <div class="card-image">
                    <img src="~/images/under-construction.png" class="img-fluid" alt="Responsive image" />
                </div>
            </center>
            <p class="card-text text-justify">
                <center><b>Cooming Soon</b></center>
            </p>
        </div>
    </div>
    <hr />
    <br />
    <center><a class="btn btn-info" asp-action="Index">Back to Main Page</a></center>
</div>
