<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your order has been successfully placed!</h2>
        <p>
            You can check all your orders in the Orders section of your profile.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>

<center>
    <a class="btn btn-primary" asp-controller="Orders" asp-action="CreateInvoice">To the Invoice</a>
</center>