@model IEnumerable<Manufacturer>

<div class="container" style="justify-content:center">
    <a class="nav-link text-dark" asp-controller="Manufacturers" asp-action="Index">
        <center>
            @foreach (var item in Model)
            {
                <img src="@item.LogoPath" alt="@item.Name" style="width:15%; padding-right: 10px">
            }
        </center>
    </a>
</div>
